<%- include('partials/header') %>

<div class="container">
  <div class="centered">
    <h1 class="heading display-4">Steam Module - JSL Web</h1>
    <% const inviteLink = "https://discord.com/oauth2/authorize?&client_id=699505785847283785&scope=bot&permissions=1026911319&response_type=code&redirect_uri=https://jsl-web.herokuapp.com/auth/discord/secrets"; %> 
    <a class="spacing btn btn-outline-primary" href="<%- inviteLink %> ">Get JSL Bot to get access to full Steam Module</a><br>
  </div>
  <ul class="center-ul">
    <li>Recent Played Games</li>
    <li>Common Games b/w 2 users</li>
    <li>Owned Games</li>
    <li>Steam Groups</li>
    <li>List of friends who owns provided game</li>
  </ul>
  <hr>

  <div class="row">
    <div class="col-lg-6 centered">
      <form id="steamForm" class="spacing note" action="/steam" method="post">

        <h1 class="heading">Get Steam User Profile</h1>
        <p>Want to have a glance at your steam proflie?<br>
          Or want to checkout friend's profile info?<br>
          <em>No need to wait! </em>
        </p>
        <%let userSteamId; if(!req.isAuthenticated()) { userSteamId  = "NA"; %>
          <p class="vertical">Login with Discord and Link your 
            <em>steam account</em><br>
            If you don't want to enter <em>steam id</em> manually every time.
          </p>
          <input type="text" name="inputSteamId" placeholder="Enter Steam ID or URL"> <br>
        <% } else { userSteamId = req.user.steamId; %>
          <p class="vertical"><em> Fetched Steam info from your Discord Account <br>
            If you wish to see Profile of any other user, please enter the "Steam ID" or "URL" of user.
          </em></p>
          <input type="text" name="inputSteamId" placeholder="Steam ID or URL (optional)"> <br>
        <% } %>
        <input type="hidden" name="action" value="searchProfile">
        <button class="spacing btn btn-lg btn-outline-primary" name="userSteamId" value="<%= userSteamId %>" type="submit">
          Get Steam Profile
        </button>

      </form>
    </div>

    <div class="col-lg-6 centered">
      <form id="steamForm" class="spacing note" action="/steam" method="post">

        <h1 class="heading">Search Game on Steam</h1>
        <p>You can get the Game Details if provided game is available on steam. 
          Like Game description, price, launch date, genres, developers etc.
        </p>
        <p class="vertical"><em> Enter the Game Name or Game ID <br>
          That you wish to get information about!
        </em></p>
        <input type="hidden" name="action" value="gameSearch">
        <input type="text" name="game" placeholder="Game Name or Game ID"> <br>
        <button class="spacing btn btn-lg btn-outline-primary" type="submit">
          Steam Game Search
        </button>

      </form>
    </div>

    <% if(!steamInfo) { %> 
      <div class="note">
        <p>You'll see Profile or Game search results here!</p>
      </div>
    <% } %>
    
    <%- steamInfo %>
  </div>
</div>

<%- include('partials/footer') %>
